<div class="card bg-success">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div>
                <h4 class="card-title text-white">Users</h4>
            </div>
            <div class="ms-auto">
                <h2 class="fw-light text-white">35,658</h2>
            </div>
        </div>
        <div class="mt-4 mb-2">
            <ul class="list-style-none mt-2">
                <li>
                    <div class="d-flex align-items-center">
                        <div>
                            <h4 class="mb-0 font-medium text-white">58%
                                <span class="fw-normal fs-3 text-white op-5 ms-1">New Users</span>
                            </h4>
                        </div>
                    </div>
                    <div class="progress mt-2 user-progress-bg">
                        <div class="progress-bar bg-white" role="progressbar" style="width: 58%"
                            aria-valuenow="58" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                <li class="mt-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <h4 class="mb-0 font-medium text-white">16%
                                <span class="fw-normal fs-3 text-white op-5 ms-1">Repeat Users</span>
                            </h4>
                        </div>
                    </div>
                    <div class="progress mt-2 user-progress-bg">
                        <div class="progress-bar bg-white" role="progressbar" style="width: 16%"
                            aria-valuenow="16" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
