<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center p-b-15">
            <div>
                <h4 class="card-title mb-0">To Do List</h4>
            </div>
            <div class="ms-auto">
                <div class="dl">
                    <select class="form-select border-0 text-muted">
                        <option value="0" selected="">August 2018</option>
                        <option value="1">May 2018</option>
                        <option value="2">March 2018</option>
                        <option value="3">June 2018</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="todo-widget scrollable" [perfectScrollbar]="config" style="height:422px;">
            <ul class="list-task todo-list list-group mb-0" data-role="tasklist">
                <li class="list-group-item todo-item border-0 mb-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck">
                        <label class="form-check-label todo-label fw-normal w-100" for="customCheck">
                            <span class="todo-desc">Simply dummy text of the printing and typesetting</span>
                            <span class="badge badge-pill bg-success float-end">12 July</span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item todo-item border-0 mb-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck1">
                        <label class="form-check-label todo-label fw-normal w-100" for="customCheck1">
                            <span class="todo-desc">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum
                                has been.</span>
                            <span class="badge badge-pill bg-danger float-end">Yesterday</span>
                        </label>
                    </div>

                </li>
                <li class="list-group-item todo-item border-0 mb-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck2">
                        <label class="form-check-label todo-label fw-normal w-100" for="customCheck2">
                            <span class="todo-desc">Ipsum is simply dummy text of the printing</span>
                            <span class="badge badge-pill bg-info float-end">Today</span>
                        </label>
                    </div>

                </li>
                <li class="list-group-item todo-item border-0 mb-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck3">
                        <label class="form-check-label todo-label fw-normal w-100" for="customCheck3">
                            <span class="todo-desc">Simply dummy text of the printing and typesetting</span>
                            <span class="badge badge-pill bg-info float-end">Yesterday</span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item todo-item border-0 mb-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck4">
                        <label class="form-check-label todo-label fw-normal w-100" for="customCheck4">
                            <span class="todo-desc">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum
                                has been.</span>
                            <span class="badge badge-pill badge-purple float-end">Today</span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item todo-item border-0 mb-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck5">
                        <label class="form-check-label todo-label fw-normal w-100" for="customCheck5">
                            <span class="todo-desc">Ipsum is simply dummy text of the printing</span>
                            <span class="badge badge-pill bg-success float-end">16 Nov</span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item todo-item border-0 mb-0" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck6">
                        <label class="form-check-label todo-label fw-normal w-100" for="customCheck6">
                            <span class="todo-desc">Simply dummy text of the printing and typesetting</span>
                            <span class="badge badge-pill bg-primary float-end">17 Nov</span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
